.title-page span {
    background:
        linear-gradient(to right,
            var(--color1),
            var(--color2),
            var(--color3));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.container-skills {
    padding: 2rem 80px;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    gap: 1%;
}

.single-item {
    padding: 10px;
    overflow-y: hidden;
    background-color: var(--bgColor-light);
    text-align: center;
    border: 3px solid var(--bgColor-light);
    border-radius: 30px;
    transition: all 0.4s ease;
}

.single-item:hover {
    border: 3px solid #43d8d8;
}

#icon-language {
    font-size: 80px;
    display: block;
    margin: 10px auto;
    padding: 0.5rem 1rem;
}

.mg-1 {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .container-skills {
        grid-template-columns: 49% 49%;
    }

    .mg-1 {
        margin: 0px !important;
    }
}

@media (max-width: 300px) {
    .container-skills {
        grid-template-columns: 99%;
    }

    #icon-language {
        font-size: 60px !important;
    }
}