.title-page span {
    background:
        linear-gradient(to right,
            var(--color1),
            var(--color2),
            var(--color3));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.wrapper {
    padding: 2rem 40px;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 20px;
}

.container-skills {
    width: 100%;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    gap: 1%;
}

.single-item {
    position: relative;
    padding: 10px;
    overflow-y: hidden;
    text-align: center;
    border-radius: 30px;
    transition: all 0.4s ease;
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    justify-self: center;
}

.single-item:hover {
    border: 2px solid var(--skillColor);
    text-shadow: 0 0 0.125em rgba(0, 0, 0, 0.5), 0 0 0.25em currentColor;
}

#icon-language {
    font-size: 80px;
    margin: 10px auto;
    padding: 0.5rem 1rem;
    transition: all 0.8s ease;
}

.single-item:hover #icon-language {
    transform: scale(1.1);
}

.mg-1 {
    margin-top: 10px;
}

.description-skills {
    width: 40%;
    padding: 0 20px;
}

.description-skills h2 {
    font-size: 30px;
    margin-top: 80px;
}

.description-skills p,
.description-skills h2 {
    color: var(--skillColor);    
    text-align: center; 
}

.description-skills p {
    font-size: 20px;
}

progress {
    background: gray;
    display: block;
    margin: 10px auto;
    width: 60%;
}

progress[value]::-webkit-progress-value {
    background-color: var(--skillColor);
} 

@media (max-width: 980px) {
    .container-skills {
        grid-template-columns: 24% 24% 24% 24%;    
    }
}

@media (max-width: 860px) {
    .container-skills {
        grid-template-columns: 49% 49%;    
    }
    
    .mg-1 {
        margin: 0px !important;
    }

    .wrapper {
        flex-wrap: wrap;
        padding: 2rem 20px;
    }

    .description-skills {
        width: 100%;
        margin-bottom: 10px;
    }

    .description-skills h2 {
        margin-top: 0px;
    }
}

@media (max-width: 350px) {
    .container-skills {
        grid-template-columns: 100%;
        gap: 1%;
    }

    #icon-language {
        font-size: 100px !important;
    }
}
