.home {
  background: var(--bgColor);
  height: 100vh;
  display: flex;
  align-items: center;
}

.max-width {
  width: 100%;
  margin-left: 80px;
}

.texto1 {
  margin-top: -40px;
  font-size: 20px;
  color: var(--textColor);
  letter-spacing: 0.05rem;
}

.texto2 {
  font-size: 78px;
  font-weight: bold;
  margin-left: -5px;
  background:
    linear-gradient(to right,
      var(--color1),
      var(--color2),
      var(--color3));
  -webkit-background-clip: text;
  background-clip: text;
  background-repeat: repeat;
  background-size: cover;
  color: transparent;

}

.home a {
  display: inline-block;
  background: rgb(1, 196, 202);
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid rgb(0, 197, 204);
  transition: all 0.3s ease;
}

.home a:hover {
  color: rgb(71, 232, 238);
  background: rgba(1, 196, 202, 0.6);
  border: #00FFFF solid 1px;
}

.texto3 {
  margin-left: -15px;
  font-size: 28px;
  font-weight: bold;
  color: rgb(238, 71, 196);
}

.right-img {
  width: 100%;
}

.img-home {
  width: auto;
  height: 400px;

  border-radius: 2rem;
  margin-right: 50px;
  margin-left: 40px;
}

@media (max-width: 768px) {
  .texto1 {
    margin-top: 0;
  }

  .home {
    flex-wrap: wrap;
  }

  .max-width {
    padding-top: 10.5rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .img-home {
    display: block;
    margin: 0 auto;
  }
}