#main-bar {
    width: 100%;
    height: 75px;
    opacity: 1;
    position: fixed;
    background: transparent;
    z-index: 2;
}

#main-bar.shrink {
    background-color: #343a40;
    box-shadow: 0 10px 20px 0 rgb(5 16 44 / 15%);
}

.container {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #1D809F;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar>.container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.navbar-nav .dropdown-menu {
    position: static;
}


.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;
}

.navbar-toggler:hover {
    text-decoration: none;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.25rem;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.navbar-nav-scroll {
    max-height: var(--bs-scroll-height, 75vh);
    overflow-y: auto;
}

.navbar-expand {
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.navbar-expand .navbar-nav {
    flex-direction: row;
}

.navbar-expand .navbar-nav .dropdown-menu {
    position: absolute;
}

.navbar-expand .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.navbar-expand .navbar-nav-scroll {
    overflow: visible;
}

.navbar-expand .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
}

.navbar-expand .navbar-toggler {
    display: none;
}

.menu-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    line-height: 50px;
    z-index: 999;
    transition: all 1s ease 0s;
}

/* .menu-toggle.light {
    border-radius: 50%;
    background: rgba(52, 58, 64, 0.5);
} */

.menu-toggle:focus,
.menu-toggle:hover {
    color: #fff;
}

.menu-toggle:hover {
    font-size: 22px;
    transform: rotate(360deg);
}

#sidebar-wrapper {
    overflow: hidden;
    position: fixed;
    z-index: 2;
    right: 0;
    width: 250px;
    height: 100%;
    transition: all 0.4s ease 0s;
    transform: translateX(250px);
    background: var(--bgColor-light);
}

#bars {
    color: #FF00FF;
    opacity: 1;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li.sidebar-nav-item a {
    display: block;
    text-decoration: none;
    opacity: 1;
    font-size: 18px;
    padding: 14px 15px;
}

.sidebar-nav li.sidebar-nav-item span {
    /* background:
        linear-gradient(to right,
            var(--color1),
            var(--color2),
            var(--color3));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; */
    color: var(--textColor);
    font-weight: bold;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: var(--hoverBackground);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.ms-auto {
    margin-left: auto !important;
}

.py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
}

.cores {
    margin-top: 364px;
    padding: 5px;
    padding-bottom: 20px;
    display: block;
    background: rgba(52, 58, 64, 0.1);
}

.cores[input=color] {
    display: block;
}

h3 {
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
}

.cores h3 span {
    /* background:
        linear-gradient(to right,
            var(--color1),
            var(--color2),
            var(--color3));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; */
    color: var(--textColor);
}

input[type=color] {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 60%;
    overflow: hidden;
    margin-left: 25px;
    cursor: pointer;
}

#clr1 {
    margin-left: 20px;
}

input[type=color]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    padding: 0;
}

input[type=color]::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 50%;
    padding: 0;
}

.clock {
    display: block;
    margin: 5px auto;
    text-align: center;
}

.clock p {
    padding: 15px;
    text-align: center;
    font-size: 22px;
    letter-spacing: 0.1rem;
}

.clock span {
    /* background:
        linear-gradient(to right,
            var(--color1),
            var(--color2),
            var(--color3));
    -webkit-background-clip: text;
    color: transparent; */
    color: var(--textColor);
    font-weight: bold;
}

.tema {
    margin-top: 20px;
}

.tema a {
    text-decoration: none;
    color: #000;
}

#dark-theme {
    width: 70px;
    height: 70px;
    display: block;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    color: var(--textColor);
}

.bar-icon {
    margin: 5px 100px;
    width: 60px;
    height: 60px;
}

@media (max-width: 768px) {
    .bar-icon {
        margin: 5px 30px;
    }
}

@media (max-width: 560px) {
    #main-bar {
        margin-top: -1px;
    }
}