:root {
  --color1: #ff008c;
  --color2: #03f0fc;
  --color3: #1804fb;
  --bgColor: #000;
  --bgColor-light: #131111;
  --textColor: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.page-section {
  width: 100%;
  background-color: var(--bgColor);
}

.page-light {
  width: 100%;
  background-color: var(--bgColor);
}